
<nav>
    <a href="/"><h3>Blog</h3></a>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blogs">Blogs</a>
        <a href="/cart">Cart</a>
        <a href="/blogs/create">Blog-create</a>
        <a href="/users/create">User-create</a>
    </nav>

</nav>