<nav>
    <h1>
        <a href="">Blogy</a>
    </h1>
    <div>
        <a href="/">home</a>
        <a href="/about">about_us</a>
        <a href="/contact">contact</a>
        <a href="/cart">cart</a>
    </div>
</nav>