
<nav>
    <a href=""><h3>Blog</h3></a>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/cart">Cart</a>
    </nav>

</nav>