<nav>
    <a href="/">
        <h1>Shop</h1>
    </a>
    <nav>
        <a href="/">Home</a>
        <a href="/cart">Cart</a>
        <a href="/users">Users</a>
        <a href="/users/add">SignUp</a>
    </nav>
</nav>