<!DOCTYPE html>
<html lang="en">
<%- include('components/head.ejs') %>
<body>
    <%- include('components/navbar.ejs')  %>
    <div class="container">
        <h3>Contact page</h3>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi itaque praesentium tempore sapiente. Dolorum assumenda nulla eos porro qui totam quidem asperiores eaque facere architecto quis alias minus, iure corrupti.
        </p>
    </div>


</body>
</html>