<!DOCTYPE html>
<html lang="en">
<%- include('components/head.ejs') %> 

<body>
    <%- include('components/navbar.ejs') %>
    <div class="container">
        <h3>Home Page</h3>

        <% if (blogs.length) { %>
            <% blogs.forEach((user) => { %>
                <div class="blog-card">
                    <h3><%= user.name %></h3>
                    <p><%= user.email %></p>
                </div>
            <% }) %>
        <% } else { %>
            <h3>No Blog Found</h3>
        <% } %>
    </div>
</body>
</html>