
<h3>Home Page</h3>

<% if (users.length) { %>
    <% users.forEach((user) => { %>
        <div class="blog-card">
            <h3><%= user.name %></h3>
            <p><%= user.email %></p>
        </div>
    <% }) %>
<% } else { %>
    <h3>No Blog Found</h3>
<% } %>
