body {
    background-color: black;
    color: white;
}
nav {
    padding:0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 0 5px;
    font-size: large;
}
nav a:hover {
    color: aqua;
    font-weight: bold;
    font-size: larger;
}
.container {
    margin: 0 10px;
}
.blog-card {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin: 10px 0;
    background-color: rgba(0, 255, 255, 0.507);
    border-radius: 10px;
}
.blog-card:hover {
    background-color: rgba(0, 255, 204, 0.384);
}