body {
    background-color: black;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}

/* nav bar  */
nav {
    padding:0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    a{
        text-decoration: none;
    }
    nav a{
        color: white;
        text-decoration: none;
        margin: 0 5px;
        font-size: large;
    }
    nav a:hover {
        color: aqua;
        font-weight: bold;
        font-size: larger;
    }
.container {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*! --------------------- */
.item-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
    background-color: rgba(0, 255, 255, 0.507);
    border-radius: 10px;
    width: 400px;
}
.item-card:hover {
    background-color: rgba(0, 255, 204, 0.384);

}
.item-card a {
  text-decoration: none;
  color: white;
}
.item-card a:hover {
  color: aqua;
}
.item-card img { 
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin: 4px 0;
}
/* blog create page css */
.item-form {
    max-width: 800px;
    margin: auto;
    border: 1px solid lightgreen;
    padding: 40px;
  }
  
  .item-form h1 {
    color: green;
  }
  
  .form-group {
    margin: 10px 0;
  }
  .form-group label {
    font-size: 18px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid green;
  }
  
  .item-create-btn {
    background-color: green;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid green;
    color: white;
  }
/*! --------------------- */
.user-form {
    max-width: 800px;
    margin: auto;
    border: 1px solid lightgreen;
    padding: 40px;
  }
  
  .user-form h1 {
    color: green;
  }
  
  .user-create-btn {
    background-color: green;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid green;
    color: white; 
  }