body {
    background-color: black;
    color: white;
}
/* nav bar  */
nav {
    padding:0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    a{
        text-decoration: none;
    }
    nav a{
        color: white;
        text-decoration: none;
        margin: 0 5px;
        font-size: large;
    }
    nav a:hover {
        color: aqua;
        font-weight: bold;
        font-size: larger;
    }
.container {
    margin: 0 10px;
}
.blog-card {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin: 10px 0;
    background-color: rgba(0, 255, 255, 0.507);
    border-radius: 10px;
}
.blog-card:hover {
    background-color: rgba(0, 255, 204, 0.384);
}
/* blog create page css */
.blog-form {
    max-width: 800px;
    margin: auto;
    border: 1px solid lightgreen;
    padding: 40px;
  }
  
  .blog-form h1 {
    color: green;
  }
  
  .form-group {
    margin: 10px 0;
  }
  .form-group label {
    font-size: 18px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid green;
  }
  
  .blog-create-btn {
    background-color: green;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid green;
    color: white;
  }