/* nav component */
.navbar-component nav {
    background-color: rgb(0, 179, 255);
    padding: 10px;
}
.navbar-component .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.navbar-component .container ul {
    display: flex;
}
.navbar-component .container li {
    list-style-type: none;
    margin: 0 20px;
}
.navbar-component .container li:hover {
    font-weight: bold;
}