<div class="item-form">
    <h2>Product Create</h2>

    <form action="/" method="POST">
        <div class="form-group">
            <label for="">Product</label>
            <input name="product" type="text">
        </div>
        <div class="form-group">
            <label for="">Price</label>
            <input name="price" type="number" min="0">
        </div>
        <div class="form-group">
            <label for="">Image link</label>
            <input name="imgLink" type="url">
        </div>
        <div class="form-group">
            <button type="submit" class="item-create-btn">Create</button>
        </div>
    </form>
</div>