<h2><%- item.name  %> details </h2>
<div class="item-detail-card">
    <div class="left">
        <img src="<%= item.img %>" alt="<%- item.name %> ">
    </div>
    <h3>Price: $<b><%= item.price %></b></h3>
    
    <a href="/">Back</a>
</div>