.postForm .formControl {
    margin: 20px;
}

.postForm label {
    margin-right: 20px;
}
.postForm input {
    width: 80%;
    border: 1px solid gray;
    padding:4px;
    border-radius: 5px;
}

.postForm button {
    border : 1px solid gray;
    background-color: #c46ff4;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}
.postForm button:hover {
    border : 1px solid red;
    background-color: darkslateblue;
    font-weight: bold;
}