/* postsList component */

.postsList-component {
    background-color: rgb(144, 221, 238);
    height: 100vh;
    display: flex;
    max-width:initial;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .postsList-component {
        height: auto;
    }
}

.postsList-component .single-post {
    flex: 1;
    background-color: rgb(76, 0, 255);
    margin: 20px;
    flex-basis: 350px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}