/* postsList component */

.postsList-component {
    background-color: rgb(144, 221, 238);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postsList-component .single-post {
    flex: 1;
    background-color: rgb(76, 0, 255);
    margin: 20px;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}